.preview-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.left-section, .right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icon-placeholder {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon { font-size: 28px; }
}

.password-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 6px;
}

.pinned {
  background-color: var(--light-yellow);
  color: var(--dark-blue);
}

.unpinned {
  background-color: var(--primary-blue);
  color: var(--secondary-yellow);
}

.copy-btn {
  color: var(--secondary-yellow);
  font-size: 20px;
}
