<div class="preview-card flex-row justify-between align-center mb-12 text-bold"
     [ngClass]="password.isPinned ? 'pinned' : 'unpinned'"
     [routerLink]="['/password-detail', password.id]">

  <div class="flex-row align-center gap-10">
    <div class="icon-placeholder flex-row justify-center align-center">
      <img *ngIf="password.iconUrl" [src]="password.iconUrl" class="password-icon" alt="">
      <ion-icon *ngIf="!password.iconUrl" name="lock-closed-outline"></ion-icon>
    </div>
    <span>{{ password.name }}</span>
  </div>

  <div class="flex-row align-center gap-10">

    <ion-button *ngIf="!isMobile" fill="clear" class="copy-btn" (click)="copyToClipboard(); $event.stopPropagation()">
      <ion-icon [name]="copied ? 'checkmark-outline' : 'clipboard-outline'"></ion-icon>
    </ion-button>

    <div *ngIf="isMobile" (click)="$event.stopPropagation()">
      <app-password-pin
        [isPinned]="password.isPinned ?? false"
        (togglePin)="pinToggle.emit(password.id)">
      </app-password-pin>
    </div>

  </div>

</div>
