<div class="preview-card" [ngClass]="password.isPinned ? 'pinned' : 'unpinned'" [routerLink]="['/password-detail', password.id]">

  <div class="left-section">
    <div class="icon-placeholder">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <span class="password-name">{{ password.name }}</span>
  </div>

  <div class="right-section">

    <ion-button fill="clear" class="copy-btn" (click)="copyToClipboard(); $event.stopPropagation()">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-button>

    <div (click)="$event.stopPropagation()">
      <app-lock-passwd
        [isPinned]="password.isPinned"
        (toggle)="onPinToggle.emit(password.id)">
      </app-lock-passwd>
    </div>

  </div>

</div>
