.title {
  color: var(--secondary-yellow);
  margin-top: 0;
}

label {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

.saved-message {
  color: var(--success-green);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
