<div class="card-container">
  <h2 class="title">Generate a Password</h2>

  <div class="input-group">
    <label>Name</label>
    <app-custom-input
      placeholder="Ej: Facebook, Netflix..."
      [control]="nameControl">
    </app-custom-input>
  </div>

  <div class="textarea-group">
    <app-copy-textarea [textContent]="generatedPassword"></app-copy-textarea>
  </div>

  <div class="controls-row">

    <div class="chars-input">
      <label>Chars</label>
      <input type="number" [formControl]="lengthControl" min="4" max="64">
    </div>

    <button class="btn-reload" (click)="onGenerate()">
      <ion-icon name="refresh-outline"></ion-icon>
    </button>

    <div class="spacer"></div>

    <button *ngIf="!isLoggedIn" class="btn-save padlock" (click)="goToLogin()">
      <ion-icon name="lock-closed"></ion-icon>
    </button>

    <button *ngIf="isLoggedIn" class="btn-save save-disk" (click)="onSave()">
      <ion-icon name="save-outline"></ion-icon> </button>

  </div>
</div>
