<ion-card class="flex-column gap-15">
  <h2 class="title">Generate a Password</h2>

  <div class="input-group">
    <label>Name</label>
    <app-custom-input placeholder="Password Name" [control]="nameControl"></app-custom-input>
  </div>

  <div class="textarea-group">
    <app-copy-textarea [textContent]="generatedPassword"></app-copy-textarea>
  </div>

  <div class="controls-row">

    <label>Chars</label>
    <div class="chars-input">
      <input type="number" [formControl]="lengthControl" min="4" max="64">
    </div>

    <div class="spacer"></div>

    <button class="btn-reload" (click)="onGenerate()">
      <ion-icon name="refresh-outline"></ion-icon>
    </button>

    <button class="padlock" (click)="handleSave()">
      <ion-icon name="lock-closed"></ion-icon>
    </button>

  </div>
</ion-card>
<div style="height: 20px;"></div>
<p *ngIf="savedMessage" class="saved-message">Contraseña guardada</p>
