<ion-card class="flex-column gap-15">
  <h2 class="title text-bold text-center">Generate a Password</h2>

  <div class="mb-15">
    <label class="text-italic">Name</label>
    <app-custom-input placeholder="Password Name" [control]="nameControl"></app-custom-input>
  </div>

  <div class="mb-15">
    <app-copy-textarea [textContent]="generatedPassword"></app-copy-textarea>
  </div>

  <app-generator-controls
    [(charsLength)]="charsLength"
    (generate)="onGenerate()"
    [showLock]="true"
    (save)="handleSave()">
  </app-generator-controls>
</ion-card>
<div style="height: 20px;"></div>
<p *ngIf="savedMessage" class="saved-message text-center">Contraseña guardada</p>
