.card-container {
  background-color: #2676B4;
  padding: 20px;
  border-radius: 12px;
  color: white;
  max-width: 400px;
  margin: 0 auto;
}

.title {
  color: #FFD770;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.input-group, .textarea-group { margin-bottom: 15px; }

label {
  display: inline-block;
  font-style: italic;
  margin-bottom: 5px;
  margin-right: 10px;
}



.controls-row {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}

.chars-input {
  display: flex;
  align-items: center;
  background: white !important;
  border-radius: 8px;
  padding: 5px 10px;
  height: 100%;

  label { color: #555; margin: 0 5px 0 0;}
  input {
    width: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent !important;
    color: black !important;
  }
}

.btn-reload, .btn-save {
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  height: 100%;
  width: 45px;
  padding: 0;
}

.btn-reload { background-color: #FFD770; color: #1c5b8e; }

.padlock { background-color: #123e66; color: #FFD770; border: 1px solid white;}

.save-disk { background-color: #4CAF50; color: white; }

.spacer { flex-grow: 1; }

.chars-input {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 5px 10px;

  label { color: #555; margin: 0 5px 0 0;}
  input {
    width: 40px;
    border: none;
    outline: none;
    font-size: 16px;
  }
}

.btn-reload, .btn-save {
  border: none;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.btn-reload { background-color: #FFD770; color: #1c5b8e; }
.btn-save { background-color: #123e66; color: #FFD770; }
.spacer { flex-grow: 1; }
