<div class="ion-page">
  <app-header></app-header>

  <ion-content class="ion-padding">
    <div class="form-container">
      <h2 class="ion-text-center ion-margin-bottom">Create an account</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="flex-column align-center">

        <ion-grid class="ion-no-padding w-100">
          <ion-row>
            <ion-col size="6" class="ion-padding-end">
              <app-custom-input placeholder="Name" [control]="registerForm.get('name')"></app-custom-input>
            </ion-col>
            <ion-col size="6" class="ion-padding-start">
              <app-custom-input placeholder="Surname" [control]="registerForm.get('surname')"></app-custom-input>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top">
            <ion-col size="6" class="ion-padding-end">
              <app-custom-input placeholder="Phone Number" [control]="registerForm.get('phone')"></app-custom-input>
            </ion-col>
            <ion-col size="6" class="ion-padding-start">
              <div (click)="triggerFileInput()"
                   class="photo-box flex-row align-center justify-center">

                <img *ngIf="profilePictureUrl" [src]="profilePictureUrl" class="profile-preview">

                <ng-container *ngIf="!profilePictureUrl">
                  <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
                  <ion-label class="photo-label">
                    {{ uploading ? 'Uploading...' : (selectedFileName || 'Photo (optional)') }}
                  </ion-label>
                </ng-container>
              </div>
              <input #fileInput type="file" accept="image/*" class="ion-hide" (change)="onFileSelected($event)">
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top">
            <ion-col size="12">
              <app-custom-input type="email" placeholder="E-mail" [control]="registerForm.get('email')"></app-custom-input>
            </ion-col>
            <ion-col size="12" class="ion-margin-top">
              <app-custom-input type="password" placeholder="Password" [control]="registerForm.get('password')"></app-custom-input>
            </ion-col>
            <ion-col size="12" class="ion-margin-top">
              <app-custom-input type="password" placeholder="Confirm Password" [control]="registerForm.get('confirmPassword')"></app-custom-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button type="submit" color="primary" class="ion-margin-top ion-align-self-center">
          Create Account
        </ion-button>

        <ion-button fill="outline" color="dark" (click)="onGoogleSignIn()" class="ion-margin-top ion-align-self-center">
          <ion-icon name="logo-google" slot="start" color="primary"></ion-icon>
          Sign in with Google
        </ion-button>

        <p *ngIf="googleError" class="error-message ion-text-center">{{ googleError }}</p>

      </form>

      <p class="ion-text-center ion-margin-top">
        <a routerLink="/login" class="login-link">Login</a>
      </p>

    </div>
  </ion-content>
</div>
