<div class="ion-page">
  <app-header></app-header>

  <ion-content class="detail-content">
    <div class="detail-container" *ngIf="passwordItem">

      <div class="flex-row justify-between align-center mb-20">
        <div class="back-btn flex-row align-center" routerLink="/list">
          <ion-icon name="chevron-back-outline"></ion-icon> <em>Back</em>
        </div>
        <app-lock-passwd [isPinned]="isPinnedLocal" (togglePin)="togglePin()" iconColor="var(--primary-blue)"></app-lock-passwd>
      </div>

      <form [formGroup]="detailForm">

        <div class="mb-30">
          <label class="blue-label text-bold">Name</label>
          <app-custom-input placeholder="Password name" [control]="detailForm.get('name')"></app-custom-input>
        </div>

        <div class="mb-30">
          <label class="blue-label text-bold">Password</label>
          <app-copy-textarea [textContent]="detailForm.get('value')?.value"></app-copy-textarea>
        </div>

        <app-generator-controls
          [(charsLength)]="charsLength"
          (generate)="regeneratePassword()"
          class="mb-30">
        </app-generator-controls>

        <app-image-upload [(iconUrl)]="iconUrl" class="mb-30"></app-image-upload>

        <div class="action-row flex-row gap-10">
          <button type="button" class="btn-save" (click)="saveChanges()">Save Changes</button>
          <button type="button" class="btn-delete" (click)="deletePassword()">Delete Password</button>
        </div>

      </form>
    </div>
  </ion-content>
</div>
