<div class="ion-page">
  <app-header></app-header>

  <ion-content class="detail-content">
    <div class="detail-container" *ngIf="passwordItem">

      <div class="top-bar">
        <div class="back-btn" routerLink="/list">
          <ion-icon name="chevron-back-outline"></ion-icon> <em>Back</em>
        </div>
        <app-lock-passwd
          [isPinned]="isPinnedLocal"
          (togglePin)="togglePin()">
        </app-lock-passwd>
      </div>

      <form [formGroup]="detailForm">

        <div class="field-group">
          <label class="blue-label">Name</label>
          <div class="input-box">
            <input type="text" formControlName="name">
          </div>
        </div>

        <div class="field-group">
          <label class="blue-label">Password</label>
          <app-copy-textarea [textContent]="detailForm.get('value')?.value"></app-copy-textarea>
        </div>

        <div class="generator-controls">
          <div class="chars-input">
            <span class="italic-label">Chars</span>
            <input type="number" [(ngModel)]="charsLength" [ngModelOptions]="{standalone: true}" min="4" max="64">
          </div>
          <button type="button" class="btn-reload" (click)="regeneratePassword()">
            <ion-icon name="refresh-outline"></ion-icon>
          </button>
        </div>

        <div class="upload-section">
          <div class="icon-preview">
            <img *ngIf="iconUrl" [src]="iconUrl" class="icon-img" alt="icon">
            <ion-icon *ngIf="!iconUrl" name="image-outline" class="icon-placeholder-icon"></ion-icon>
          </div>
          <button type="button" class="btn-upload" (click)="uploadImage()" [disabled]="uploading">
            {{ uploading ? 'Uploading...' : (iconUrl ? 'Change Image' : 'Upload Image') }}
          </button>
          <input #imageInput type="file" accept="image/*" style="display:none" (change)="onImageSelected($event)">
        </div>

        <div class="action-row">
          <button type="button" class="btn-save" (click)="saveChanges()">Save Changes</button>
          <button type="button" class="btn-delete" (click)="deletePassword()">Delete Password</button>
        </div>

      </form>
    </div>
  </ion-content>
</div>
