.textarea-wrapper {
  position: relative;
  width: 100%;

  textarea {
    background: var(--white);
    border: var(--border-width) solid var(--medium-blue);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 16px;
    color: var(--black);
    outline: none;
    width: 100%;
    padding-right: 50px;
    resize: none;
    font-size: 18px;
  }

  .btn-copy {
    position: absolute;
    right: 5px;
    top: 5px;
    --color: var(--medium-blue);
  }

  @media (max-width: 350px) {
    textarea {
      padding-right: 10px;
    }
    .btn-copy {
      position: static;
      display: flex;
      margin-left: auto;
    }
  }
}
